{% extends "reviewproduct/base.html" %}
{% block content %}
{% for product in products %}
{% if product.name == "IPhone 12 Pro" %}
<div class="media-body">
  <h2>{{product.name}}</h2>
  <img src="{{product.photo.url}}" style="width:50%">
  <p>Brand:{{product.brand}}</p>
  <p>Cost:£{{product.cost}}</p>
  <p>Category:{{product.category}}</p>
  <p>Released:{{product.date_released}}</p>
  <p>Description:{{product.description}}</p>
 
  </div>
  {% endif %}
{% endfor %}
{% for review in reviews %}
{% if review.product.name == "IPhone 12 Pro" %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{review.author.profile.photo.url}}"/>
    <div class="media-body">
  
      <div class="article-metadata">
  
        <a class="mr-2" href="#">{{ review.author }} )</a>
  
        <small class="text-muted">{{ review.date_submitted}}</small>
  
      </div>
  
      <h2>Rating:{{review.rating}}</h2>
  
      <p class="article-content">{{ review.review }}</p>
  
    </div>
  
  </article>
  {% endif %}
  {% endfor %}
{% endblock content %}
