{% extends "reviewproduct/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1> {{ user.username}}</h1>
<p>Name: {{ user.profile.full_name}}</p>
<p>DOB:{{ user.profile.dob }}</p>
<p>Address: {{ user.profile.address }}</p>
<p>City: {{ user.profile.city }}</p>
<p>Country: {{ user.profile.country }}</p>
<img src="{{user.profile.photo.url}}">
<form method="POST">
    {% csrf_token %}
<fieldset class="form-group">
    <legend class="border-bottom mb-4">
          User Registration Form
    </legend>
    {{ u_form|crispy}}
    {{ p_form|crispy}}
</fieldset>
<div class="form-group">
      <button class="btn btn-outline-info" type="submit"> Update </button>
      </div>
</form>
{% endblock content %}
